repo_url: "https://yesser-studios.github.io/f-droid-repo/repo"
repo_name: "Yesser Studios F-Droid Repo"
repo_description: "F-Droid repository for Yesser Studios apps"
keystore: "${GITHUB_WORKSPACE}/keystore.jks"
repo_keyalias: "${KEY_ALIAS}"
keystorepass: "${KEYSTORE_PASS}"
keypass: "${KEY_PASS}"
